@import './src/assets/styles/shared-imports.scss';

.keadex-preview__section {
  width: 100%;
  padding: $page-body-padding-desktop;
  height: 100vh;
  line-height: 2rem;
  position: absolute;
  overflow: hidden;
}

.keadex-preview__cover {
  #keadex-logo {
    width: 300px;
  }
}

.keadex-preview__title {
  margin-top: 50px;
  font-size: $subtitle1-text-size;
}

.keadex-preview__tech-label{
  line-height: 1;
  position: absolute;
  opacity: 0;
  width: 100%;
}

.keadex-preview__logo{
  fill: $primary-color-text;
}

.keadex-preview__slogan{
  margin-top: 10px;
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0;
  width: 100%;
  text-align: center;
}


.keadex-preview__alpha-launch{
  left: 50%;
  transform: translate(-50%) scale(0.5);
  position: absolute;
  text-align: center;
  bottom: 20px;
  opacity: 0;
  width: 300px;
  a{
    color: $secondary-text-color !important;
    font-size: 1.2rem;
    // opacity: 0;
    i{
      font-size: 1.7rem;
    }
  }
}



@include media-breakpoint-down(md) { 
  .keadex-preview__whats-keadex {
    svg {
      width: 80%;
    }
  }
  .keadex-preview__kealab-content{
    margin-left: 5%;
    margin-right: 5%;
  }
}


@include media-breakpoint-down(sm) { 
  
  .keadex-preview__section{
    height: auto;
    min-height: 100vh;
    padding: $page-body-padding-mobile;
    
    img {
      width: 200px;
    }
  }

  .keadex-preview__title {
    margin-top: 50px;
    font-size: $subtitle2-text-size;
  }

  .keadex-preview__slogan{
    font-size: 0.8rem;
  }

  .keadex-preview__alpha-launch{
    font-size: 1rem;

    i{
      font-size: 1.4rem;
    }
  }
}

.cls-1{
  font-size:44.7px;
}
.cls-1,.cls-2{
  font-family:"Roboto" !important;
}
.cls-2{
  font-size:28.55px;
}
.cls-3{
  fill-rule:evenodd;
}