//COLORS
$primary-color-dark:   #1d1d1d;
$primary-color:        #2C2C2C;
$primary-color-light:  #F5F5F5;
$primary-color-text:   #cecece;
$accent-color:         #fff;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$brand-color-1:        #3867B1;
$brand-color-2:        #AFB7C3;
$brand-color-3:        #D6E2F4;
$brand-color-1-dark:   #233e6b;

$console-text-color:   #008000;

//FONT SIZE (from https://material.io/design/typography/the-type-system.html#type-scale and https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html)
$h1-text-size: 96px;
$h2-text-size: 60px;
$h3-text-size: 48px;
$h4-text-size: 34px;
$h5-text-size: 24px;
$h6-text-size: 20px;
$subtitle1-text-size: 16px;
$subtitle2-text-size: 14px;
$body1-text-size: 16px;
$body2-text-size: 14px;
$button-text-size: 14px;
$caption-text-size: 12px;
$overline-text-size: 10px;

//ELEMENT SIZES
$height-progressbar: 50px;
$page-body-padding-desktop: 50px;
$page-body-padding-mobile: 10px;