@import '../shared/shared-imports.module.scss';

.header-sw-eng-root{
  width: 100%;
  background-size: contain;
  height: 150px;
  
  &--landscape {
    @extend .header-sw-eng-root;
    background-image: url("../../../public/img/header-experience/bg-landscape.png");
  }

  &--ground {
    @extend .header-sw-eng-root;
    background-image: url("../../../public/img/header-experience/bg-landscape-ground.png");
  }
}


.header-sw-eng__sw-stack{
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 100%);
  height: 90%;
}

.header-sw-eng__engineer {
  bottom: 8px;
  position: absolute;
}

.header-sw-eng-apple {
  margin-left: 10px;
  left: 55%;
  width: 35px;
}

@include media-breakpoint-down(md) { 
  .header-sw-eng-root{
    background-size: cover;
  }
}

@include media-breakpoint-down(sm) { 
  .header-sw-eng__sw-stack{
    height: 70%;
  }
}