@import './src/assets/styles/shared-imports.scss';

.resume__seriously-label {
  font-size: $h5-text-size;
}

.resume__agree-container {
  z-index: 3;
  display: block;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.resume__agree-content{
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.resume__agree-bg{
  background: url("../../assets/img/browser-window.png");
  background-size: cover;
  background-repeat: round;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.resume__binary-container{
  z-index: 1;
  display: block;
  position: absolute;
  overflow: hidden;
  width: 40%;
  height: 100%;
}

.resume__binary-content{
  position: relative;
  transform: translate(0, -100%);
  background: url("../../assets/img/binary-matrix.gif");
  background-size: contain;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.resume__matrix-code{
  width: 100%;
}

.resume__pdf{
  z-index: 2;
  display: block;
  position: absolute;
  overflow: hidden;
  opacity: 0;
}


@include media-breakpoint-down(sm) { 
  .resume__seriously-label {
    font-size: $h6-text-size;
  }
  .resume__binary-container{
    width: 70%;
  }
}

