@import '../components/shared/shared-imports.module.scss';

.home__section {
  width: 100%;
  padding: $page-body-padding-desktop;
  height: 100vh;
  line-height: 2rem;
  position: relative;
  overflow: hidden;

  #bg{
    margin: -$page-body-padding-desktop;
  }
}

.home__section-content{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50% );
  position: relative;
}

.home__cover {
  height: 100vh !important;
}

.home__cover img {
  width: 300px;
}

.home__title {
  margin-top: 50px;
  font-size: $subtitle1-text-size;
}

.home__footer-text{
  position: relative;
  text-align: center;
  width: 100%;
  color: $secondary-text-color;
}

.home__footer-text-text{
  position: relative;
  width: 100%;
  height: 25px;
}

.home__why-keadex {
  // background: url('../../assets/img/prova.gif');
}


.home__whats-keadex {
  min-height: 100vh;
  height: auto;
  padding-bottom: 0px;
  svg {
    width: 50%;
    #target1{
      fill: $brand-color-2;
    }
    #target2{
      fill: $brand-color-3;
    }
    #target3{
      fill: $brand-color-1;
    }
  }

  ul {
    li{
      list-style: none;
      cursor: pointer;
      ::before {
        content: '>';
        position: absolute;
        margin-left: -15px;
      }
      &.active {
        color: $brand-color-1;
      }
    }
  }

  .card {
    background: #171717;
  }
  .card-body img{
    width: 150px;
    display: initial;
  }
}

.home__kealab{
  background: #131313;
  margin-left: -$page-body-padding-desktop !important;
  margin-right: -$page-body-padding-desktop !important;
  padding: 40px;
}

.home__kealab-title{
  line-height: 1;
  font-size: $overline-text-size;
  color: $console-text-color;
  padding: 15px;
}

.home__kealab-content{
  border: double ;
  margin: 40px 20% 40px 20%;
  padding: 15px;
}


@include media-breakpoint-down(md) { 
  .home__whats-keadex {
    svg {
      width: 80%;
    }
  }
  .home__kealab-content{
    margin-left: 5%;
    margin-right: 5%;
  }
}

@include media-breakpoint-down(lg) { 
 
}

@include media-breakpoint-down(sm) { 
  .home__whats-keadex {
    svg {
      width: 50%;
    }
  }
  
  .home__section{
    height: auto;
    min-height: 100vh;
    padding: $page-body-padding-mobile;

    #bg{
      margin: -$page-body-padding-mobile;
    }
  }
  
  .home__section-content{
    top: 0;
    left: 0;
    transform: none;
  }

  .home__cover img {
    width: 200px;
  }
  .home__title {
    margin-top: 50px;
    font-size: $subtitle2-text-size;
  }
  
  .home__kealab{
    background: black;
    margin-left: -$page-body-padding-mobile;
    margin-right: -$page-body-padding-mobile;
  }

  .home__kealab-title{
    font-size: 7px;
  }

}