
@import '../../assets/styles/shared-imports.scss';


.nav-logo{
  margin-left: 40%;
  width: 15%;
  margin-right: 40%;
}
.link{
  text-transform: lowercase;
}
.pages-nav__item--social{
  height: 90px;
}
.link--page.is-active::before {
  top: 70%;
}

@include media-breakpoint-down(lg) { 
  .nav-logo{
    width: 28%;
  }
}


@include media-breakpoint-down(md) { 
  .link--social {
    margin: 0 0.55em;
  }
  .nav-logo{
    width: 32%;
  }
  .js .pages-nav__item {
    padding: 0 4%;
  }
}



@include media-breakpoint-down(sm) { 
  .nav-logo{
    margin-left: 20%;
    width: 60%;
    margin-right: 20%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .link--page {
    padding-top: 14px;
  }
  .pages-nav__item--social {
    margin-top: 25px;
  }
  .link--page.is-active::before {
    top: 80%;
  }
}
