@import '../../components/shared/shared-imports.module.scss';


.experience-item .animated {
  min-height: 100%;
  height: 100%;
}

.experience-title{
  width: 100%;
  text-align: center;
}

// .scrollmagic-pin-spacer{
//   pointer-events: none;
// }

.about-me__panel {
  height: 100vh;
  width: 100%;
  overflow: hidden !important;
  padding-top: $height-progressbar;
  margin-bottom: -$page-body-padding-desktop;
}

.about-me__content-panel {
  position: relative;
  top: 50%;
}

.about-me__progress-bar{
  z-index: 1;
  top: 0px !important;
}

.about-me__progress-bar2{
  z-index: 1;
  top: 0px !important;
  // padding-left: $page-body-padding-desktop;
  // padding-right: $page-body-padding-desktop;
  position: relative;
  width: 100%;
  left: auto;
  right: auto;
}

.about-me__progress-bar2--fixed{
  padding-left: 0;
  padding-right: 0;
  position: fixed;
}

@include media-breakpoint-down(sm) {
  .about-me__panel {
    margin-bottom: -$page-body-padding-mobile;
  }
}