@import './src/assets/styles/shared-imports.scss';

.page-body{
  height: 1600px;  
}

.logo-job{
  width: 100%;
}

.experience-item .animated {
  min-height: 100%;
  height: 100%;
}

.experience-title{
  width: 100%;
  text-align: center;
}

// .scrollmagic-pin-spacer{
//   pointer-events: none;
// }

.about-me__panel {
  height: 100vh;
  width: 100%;
  overflow: hidden !important;
  padding-top: $height-progressbar;
}

.about-me__content-panel {
  position: relative;
  top: 50%;
}

.about-me__progress-bar{
  z-index: 1;
  top: 0px !important;
}

.about-me__progress-bar2{
  z-index: 1;
  top: 0px !important;
  // padding-left: $page-body-padding-desktop;
  // padding-right: $page-body-padding-desktop;
  position: relative;
  width: 100%;
  left: auto;
  right: auto;
}

.about-me__progress-bar2--fixed{
  padding-left: 0;
  padding-right: 0;
  position: fixed;
}