@import '../shared/shared-imports.module.scss';

.education__container-element {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: 0;
}
.education__picture{
  width: 350px;
  position: relative;
}

.education__jack-avatar{
  width: 200px;
  opacity: 0.8;
}


@include media-breakpoint-down(sm) { 

  .education__picture{
    width: 200px;
  }

  .education__jack-avatar{
    width: 130px;
  }

}